body{
    font-family: 'Righteous', cursive;
    
}
h3{
    position: absolute;
    bottom: -15px;
}
footer{
    background-color: #f3c138 !important;
    border-top: #fdce4e solid 5px !important;
}

.div-nav-edit{
    background-color: #f3c138 !important;
    border-bottom: #fdce4e solid 5px !important;
    height: 4.5rem;
}

.container-edit{
    margin-top: 0px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
    padding-top: 1rem;
}
.text-edit{
    color: #1a1a1a;
    font-size: 1.5rem;
}

.table-edit{
    margin-top: 3rem;
    width: 95%;
}
.form-edit{
    width: 70%;
}

.edit-table-palav{
    padding-right: 10px;
    border: none !important;
}

.btn-adc{
    background-color: #f3c138;
    color: black !important;
    border: #f3c138 solid 1px;
    border-radius: 15px !important;
}

.btn-adc:hover{
    color: black !important;
    background-color: #9dee67;
    border: #5af062 solid 1px;
}

input {
    border-radius: 10px !important;
}
input:focus{
    border: #f3c138 solid 2px !important;
}
.btn-rmv{
    background-color: #f3c138;
    color: black !important;
    border: #f3c138 solid 1px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 15px !important;
}

.btn-rmv:hover{
    color: black !important;
    background-color: #ee6767;
    border: #f05a5a solid 1px;
}

.content {
    flex: 1;
}
  
.footerPai{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
   
}
.img-edit{
    width: 11rem;
}

.creditos{
    margin:10px;;
}

.text-td-q{
    font-weight: bold;
}