#word {
    margin: 5px 0;
}

#word.error {
    border: 2px solid #f06c6c !important;
}

#validate {
    text-transform: lowercase;
}

#validate.error{
    border: 2px solid #f06c6c !important;
}

#validate.correct{
    border: 2px solid #9cf073 !important;
}

#tabela-vocabulario {
    margin-bottom: 5%;
}

#tabela-vocabulario th{
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

#tabela-vocabulario td{
    padding: 8px 5px;
    text-transform: uppercase;
    text-align: center;
    width: 40px;
}